// sass variables

//screen sizes
$mobileScreen: 570px;

//colors
$grayLight: #e3e5f0;
$backgroundColor: $grayLight;
$backgroundColorComponent:white;

//spacing
$borderRadius: 3px;
$globalGap: 0.4rem;