// sass variables

//font-size
$title: 13px;
$modalTitle: 1rem;
$text: 12px;

//screen sizes
$mobileScreen: 680px;

//colors
$grayLight: #e3e5f0;
$backgroundColor: $grayLight;
$backgroundColorComponent:white;
$colorRed: #f44336;
$colorBlue: #008CBA;
$colorGreen: green;
$colorDark:  rgba(0, 0, 0, 0.75);
$colorlightDark: rgba(0, 0, 0, 0.25);

//spacing
$borderRadius: 3px;
$globalGap: 0.4rem;

