@import "../../assets/scss/_variables.scss";

.content {
  grid-area: main;
  overflow-y: auto;
  border-radius: $borderRadius;
  background-color: $backgroundColorComponent;
  padding: 1rem;
  padding-top: 1rem;
}

@media only screen and (max-width: $mobileScreen) {
  .content {
    text-align: center;
    padding: 5px;
    padding-top: 1rem;
  }
}

.content-posts {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}