@import "../../assets/scss/_variables.scss";

.navbar {
  grid-area: nav;
  border-radius: $borderRadius;
  background-color: $backgroundColorComponent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4rem;
}

@media only screen and (max-width: $mobileScreen) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}