@import "../../assets/scss/_variables.scss";

.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
  border-radius: $borderRadius;
  background-color: $backgroundColorComponent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: $mobileScreen) {
  .sidebar {
    justify-content: center;
    align-items: center;
  }
}