@import "../../assets/scss/_variables.scss";

.footer{
  grid-area: footer;
  border-radius: $borderRadius;
  background-color: $backgroundColorComponent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: $mobileScreen) {
  .footer {
    justify-content: center;
    align-items: center;
  }
}