@import "./assets/scss/_variables.scss";

.container {
  display: grid;
  height: 100vh;
  padding: $globalGap;
  grid-gap: $globalGap;
  background-color: $backgroundColor;
  grid-template-columns: 80px 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar footer footer footer";
}

@media only screen and (max-width: $mobileScreen) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 50px 1fr 40px;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }

}

